<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
    <section class="login-box">
        <div class="form-box" id="resetPasswordForm">
            <div class="form-value">
                <form action="/reset-password" method="post">
                    <h2 style="color: white;">Reset Password</h2>
                    <% if (typeof message !== 'undefined') { %>
                        <div class="alert alert-danger" role="alert">
                          <%= message %>
                        </div>
                    <% } %>
                    <div class="inputbox mt-4 mb-4">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" class="input" id="newPassword" name="newPassword" required/>
                        <label for="newPassword">New Password</label>
                    </div>
                    <div class="inputbox mt-4 mb-4">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" class="input" id="confirmPassword" name="confirmPassword" required/>
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                    <input type="submit" class="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </section>
</body>
</html>
