body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    height: 50px;
    position: relative;
}

.header .back-button {
    position: absolute;
    left: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.book-title {
    margin: 0;
    font-size: 1.5em;
    text-transform: uppercase;
}

.book-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 20px;
    background: rgb(33, 33, 33);
}

.page-content {
    text-align: center;
}

#pdf-canvas {
    width: 150mm;
    height: 200mm;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    height: 50px;
}

.progress-bar {
    width: 80%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.progress {
    height: 10px;
    background-color: #4caf50;
    width: 0;
}

#page-info {
    font-size: 0.9em;
}