@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif; }
.form-value p {
  margin: 10px 15px 20px;

}
.form-value .countdown-timer {
    color: white;
}

.login-box, .register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("/images/background_1.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

.form-box {
  position: relative;
  width: 400px;
  min-height: fit-content;
  padding: 30px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center; }

h2 {
  text-align: center; }

.inputbox {
  position: relative;
  border-bottom: 2px solid #fff; }

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s; }

input:focus ~ label,
input:valid ~ label {
  top: -5px; }

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff; }  

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px; }

.inputbox input:-webkit-autofill,
.inputbox input:-webkit-autofill:hover,
.inputbox input:-webkit-autofill:focus,
.inputbox input:-webkit-autofill:active {
-webkit-text-fill-color: #fff; /* Màu chữ */
-webkit-box-shadow: 0 0 0px 1000px transparent inset; /* Nền trong suốt */
box-shadow: 0 0 0px 1000px transparent inset; /* Nền trong suốt */
transition: background-color 5000s ease-in-out 0s;
}

.inputbox input[type="date"] {
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  opacity: 0;
  color: transparent; /* Hide the text initially */
}

.inputbox input[type="date"]:focus {
    color: #000; /* Show the text on focus */
}

.inputbox input[type="date"]:not(:placeholder-shown) {
    color: #000; /* Show the text when a date is selected */
}

.inputbox input[type="date"]::-webkit-inner-spin-button,
.inputbox input[type="date"]::-webkit-clear-button {
    display: none;
}

.inputbox input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 100%; 
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 3; /* Make sure the calendar icon is clickable */
}

.inputbox input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    z-index: 1;
}

.inputbox input[type="date"]:focus::before,
.inputbox input[type="date"]:not(:placeholder-shown)::before {
    display: none; /* Hide the placeholder text on focus and when a date is selected */
}

.forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between; }

.forget label input {
  margin-right: 3px; }

.forget label a {
  color: #fff;
  text-decoration: none; }

.forget label a:hover {
  text-decoration: underline; }

input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600; }

.form-value .btn-resend {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px; }

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600; }

.register p a:hover {
  text-decoration: underline; }