<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <h5>DRM FOR EBOOKS</h5>
            <p>@2024</p>
        </div>
        <div class="footer-section contact-us">
            <h5>Contact Us</h5>
            <p>Phone: <a href="" class="ml-1">0123456789</a></p>
            <p>Email: <a href="" class="ml-1">drmforebook@gmail.com</a></p>
            <p>Address: <a href="" class="ml-1">TDT University</a></p>
        </div>
        <div class="footer-section quick-links">
            <h5>Quick Links</h5>
            <a href="/">Homepage</a>
            <a href="/popular">Popular</a>
            <a href="/myEbooks">My Ebooks</a>
        </div>
        <div class="footer-section follow-us">
            <h5>Follow Us</h5>
            <div class="social">
                <a href="" target="_blank">
                    <img src="images/facebook-icon.png" alt="Facebook" class="social-icon">
                </a>
                <a href="" target="_blank">
                    <img src="images/youtube-icon.png" alt="Youtube" class="social-icon">
                </a>
                <a href="" target="_blank">
                    <img src="images/twitter-icon.png" alt="Twitter" class="social-icon">
                </a>
                <a href="" target="_blank">
                    <img src="images/instagram-icon.png" alt="Instagram" class="social-icon">
                </a>
                <a href="" target="_blank">
                    <img src="images/linkedin-icon.png" alt="LinkedIn" class="social-icon">
                </a>
            </div>
        </div>
    </div>
</footer>