<footer class="bg-dark w-100 text-center text-lg-start text-white" >
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="font-size: 15px; font-weight: bold">
                    CONNECT WITH US
                </h5>
                <p style="font-weight: bold">Social media channels</p>
                <div>
                    <img
                    src="/images/"
                    style="width: 25px; height: 25px; margin-right: 10px" />
                    <img
                    src="/images/"
                    style="width: 25px; height: 25px; margin-right: 10px" />
                    <img
                    src="/images/"
                    style="width: 25px; height: 25px; margin-right: 10px" />
                    <img
                    src="/images/"
                    style="height: 25px; margin-right: 10px" />
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="font-size: 15px; font-weight: bold">
                    ADDRESS
                </h5>
                <p style="font-weight: bold">
                    19 Nguyễn Hữu Thọ <br />
                    Ton Duc Thang University
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">PHONE SUPPORT</h5>
                <p style="font-weight: bold">24/7</p>
                <p style="font-weight: bold">+84 589609376</p>
            </div>
        </div>
    </div>
</footer>