<div class="sidebar col-lg-2 d-lg-block d-md-none d-sm-none d-none d-flex flex-column flex-shrink-0 p-3 text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="d-flex justify-content-center">
            <button id="open" class="hidden btn-success bi me-2 mt-2 mb-2"><ion-icon class="mr-2" name="add-circle-outline"></ion-icon>New</button>
        </li>
        <li>
            <a href="/" class="nav-link">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Home Page
            </a>
        </li>

        <li>
            <a href="/popular" class="nav-link">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Popular
            </a>
        </li>
        <li>
            <a href="/myEbooks" class="nav-link">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                My Ebooks
            </a>
        </li>
        <li>
            <a href="/downloadEbook" class="nav-link">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Downloaded
            </a>
        </li>
    </ul>
</div>